{% extends 'auth/base.html' %}
{% load bootstrap4 %}
{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-4"> 
            
            <!-- Empty div -->
            
        </div>
        <div class="col-md-4 ">
            {%if form.errors }
                <p>Sorry password and username could not be verified</p>
            {% endif %}
            <div class="card" style="border-radius: 5px;">
                <div class="card-body">
                    <div class="panel-heading">
                        <h3 class="text-center" style="font-family: 'Pacifico',cursive; margin-bottom: 15px;">Awards Login In</h3>
                    </div>

                    <form action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {% bootstrap_form form %}

                        <div class="form-group">
                            <input type="submit" value="login" class="btn btn-primary btn-sm">
                        </div>

                        <input type="hidden" name="next" value="{{next}}">
                    </form>
    
    
                    <div class="card px-3 mt-2 p-3 rounded-0 ">
                        <div class= "text-center"style="border-radius: 3px">
                         <small><p><strong> <em>Dont have  an account? <a href="{% url 'signup' %}">Sign Up</a></em> </strong></p></small> 
                        </div>  
                    </div> 
    
    
                </div>
            </div>
        </div>

        <div class="col-md-4">

        </div>
    </div>
</div>
{% endblock %}