{% extends 'base.html' %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Awards - {{title}}</title>
    {% else %}
    <title>Awards</title>
    {% endif %}

</head>
<style>
    .home{
        margin-top: 20px;
        background-image: url(static/img/irena-carpaccio-vp7P2QHqrsE-unsplash.jpg);
        background-size: cover;
    }
    .review{
        border:solid 3px  teal;
        border-radius: 5px;
    }
</style>
<body>
    <div class="container home">
        <div class="row">
          {% for project in projects %}
            <div class="col-sm-12 col-md-5 col-lg-4">
                <div class="card review">
                    <div class="card-body">
                        <h2 style="font-family: cursive;" class="card-title text-center">{{project.title}}</h2>
                        <a  style="text-decoration: none;" href="{% url 'projectinfo' id=project.id %}">
                            <img src="{{project.photo.url}}" alt="" srcset="">
                            <div class="py-2 text-center">
                                
                                <p>Author :{{project.user}}</p><hr>
                                <a style="text-align: center; font-family: cursive; color: #010101;height: max-content;width: max-content;background-color: teal;border-radius: 5px;padding: 3px;" href="{% url 'projectinfo' id=project.id %}">REVIEW</a>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
          {% endfor %}

        </div>
    </div>
    
</body>
</html>
{% endblock %}