{% extends 'base.html' %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
    <title>Awards - {{title}}</title>
    {% else %}
    <title>Awards</title>
    {% endif %}

</head>
<body>
    <div class="container">
        <div class="row">
          {% for project in projects %}
            <div class="col-sm-12">
                <div class="card">
                    <div class="card-body">
                        <h2 class="card-title">{{project.title}}</h2>
                        <a href="{% url 'projectinfo' %}">
                            <img src="{{project.photo.url}}" alt="" srcset="">
                            <div class="py-2">
                                
                                <small>Author :{{project.user}} uploaded at {{project.upload_date}}</small>
                                <a href="{% url 'projectinfo' %}">Review Project</a>
                            </div>
                        </a>

                    </div>
                </div>

            </div>
          {% endfor %}

        </div>
    </div>
    
</body>
</html>
{% endblock %}